.controller {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #1c1c1c;
    color: white;
}

.coordinates {
    height: 100%;
    width: 10%;
    position: relative;
}

.coordinates_label {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.coordinates_x {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.coordinates_y {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.main_ctrl {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.sec_ctrl {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main_ctrl_item {
    height: 100%;
    width: 25%;
    position: relative;
    display: flex;
}

.main_ctrl_item_label {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.main_ctrl_item_count {
    position: absolute;
    top: 75%;
}

.main_ctrl_item_random {
    position: absolute;
    top: 75%;
    right: 0;
}

.range {   
    width: 100%;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 760px) {
    .coordinates {
        display: none;
    }

    .sec_ctrl {
        width: 30%;
    }

    .main_ctrl_item {
        width: 30%;
    }
}