.footer {
    height: 10%;
    width: 100%;
    color: white;
    background-color: black;
    position: relative;
    border-top: 1px solid #1c1c1c;
}

.app_title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(20px, 2vw, 32px);
}

.profile_links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.profile_links_svg {
    width: clamp(16px, 2vw, 30px);
    height: clamp(16px, 2vw, 30px);
}

.profile_links:nth-of-type(1) {
    right: 15%
}

.profile_links:nth-of-type(2) {
    right: 5%;
}