.footer {
    height: 10%;
    width: 100%;
    color: white;
    background-color: black;
    position: relative;
    border-top: 1px solid #1c1c1c;
}

.app_title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_links {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}